name: Release

on:
  push:
    tags:
      - 'v*'

jobs:
  build:

    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v4 
      with:
        fetch-depth: 0
  
    - name: Add msbuild to PATH
      uses: microsoft/setup-msbuild@v2
      with:
        msbuild-architecture: x64
  
    - name: Download nanoFramework Build component
      shell: pwsh
      run: Invoke-WebRequest -Uri https://github.com/nanoframework/nf-Visual-Studio-extension/releases/download/v2022.12.1.49/nanoFramework.Tools.VS2022.Extension.vsix -OutFile C:\Temp\nanoFramework.Tools.VS2022.Extension.zip

    - name: UnZip nanoFramework Build component
      shell: pwsh
      run: Expand-Archive -LiteralPath C:\Temp\nanoFramework.Tools.VS2022.Extension.zip -DestinationPath C:\Temp\nf-extension\

    - name: Copy nanoFramework build files to msbuild location
      shell: pwsh
      run: Copy-Item -Path "C:\Temp\nf-extension\`$MSBuild\nanoFramework" -Destination "C:\Program Files\Microsoft Visual Studio\2022\Enterprise\MSBuild" -Recurse

    - name: Cache nanoFramework NuGet packages
      uses: actions/cache@v4
      with:
        path: ~/.nuget/packages
        key: ${{ runner.os }}-nuget-${{ hashFiles('**/packages.lock.json') }}
        restore-keys: |
            ${{ runner.os }}-nuget-
            
    - uses: nuget/setup-nuget@v2
    
    - name: Restore nanoFramework NuGet packages
      run: |
          nuget restore nanoFramework.Telegram.Bot.sln -UseLockFile
          nuget update nanoFramework.Telegram.Bot.sln

    - name: Build
      run: msbuild /p:Configuration=Release /p:Platform="Any CPU"

    - name: Prepare version
      run: |
        $version = $env:GITHUB_REF -replace 'refs/tags/v', ''

    - name: Generate a NuGet package
      run: nuget pack nanoFramework.Telegram.Bot.nuspec -properties version="$version"
      
    - name: Push Package to NuGet.org
      run: nuget push nanoFramework.Telegram.Bot.$version.nupkg -ApiKey ${{secrets.NUGET_API_KEY}} -src https://api.nuget.org/v3/index.json
