name: Daily update dependencies

on: 
  schedule:
  # At 00:00 UTC every day.
  - cron:  '0 0 * * *'
  repository_dispatch:
    types: update-dependencies
  workflow_dispatch:

permissions:
  contents: write
  pull-requests: write

defaults:
  run:
    shell: pwsh

jobs:
  dependencies-update:
    name: Update .NET nanoFramework dependencies
    timeout-minutes: 15
    runs-on: windows-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4.2.2
      - name: Install NuGet client
        uses: nuget/setup-nuget@v2.0.1
        with:
          nuget-version: 'latest'
      - uses: nanoframework/nanodu@v1.0.26
        env:
          GITHUB_TOKEN: ${{ secrets.PR_SECRET }}
        with:
          previewPackages: false
          solutionsToCheck: 'nanoFramework.Telegram.Bot.sln'
          nugetConfig: 'nuget.config'
          gitHubAuth: '${{ secrets.PR_TOKEN }}'
          gitHubUser: '${{ secrets.NAIL_USER }}'
          gitHubEmail: '${{ secrets.NAIL_EMAIL }}'
          #repoOwner: 'NailOfNaglfar'
          useTokenForClone: true
