name: Daily update dependencies

on:
  schedule:
  - cron:  '20 00 * * Mon,Thu'
  repository_dispatch:
    types: update-dependencies
  workflow_dispatch:

defaults:
  run:
    shell: pwsh

jobs:
  update-nuget-dependencies:
    name: Update .NET nanoFramework dependencies
    timeout-minutes: 180 # Non default as IoT devices has lots of solutions to update!
    runs-on: windows-latest
    env:
      GITHUB_TOKEN: ${{ github.token }}
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Update dependencies
        uses: nanoframework/nanodu@v1
        with:
          solutionsToCheck: 'nanoFramework.Telegram.Bot.sln'
