name: Daily update dependencies

on:
  schedule:
  - cron:  '0 0 * * *'
  repository_dispatch:
    types: update-dependencies
  workflow_dispatch:

defaults:
  run:
    shell: pwsh

jobs:
  update-nuget-dependencies:
    name: Update .NET nanoFramework dependencies
    timeout-minutes: 180 # Non default as IoT devices has lots of solutions to update!
    runs-on: windows-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Update dependencies
        uses: nanoframework/nanodu@v1.0.25
        env:
          GITHUB_TOKEN: ${{ secrets.NAIL_TOKEN }}
          GITHUB_AUTH: ${{ secrets.NAIL_TOKEN }}
        with:
          solutionsToCheck: 'nanoFramework.Telegram.Bot.sln'
          gitHubUser: ${{ secrets.NAIL_USER }}
          gitHubEmail: ${{ secrets.NAIL_EMAIL }}
          gitHubAuth: ${{ secrets.NAIL_TOKEN }}
          #branchToPr: 'test'
          #repoOwner: 'Naglfario'
          useTokenForClone: true
