name: Daily update dependencies

on:
  schedule:
  - cron:  '20 00 * * Mon,Thu'
  repository_dispatch:
    types: update-dependencies
  workflow_dispatch:

jobs:
  update-dependencies:
    name: Update nanoFramework dependencies
    uses: nanoframework/nf-tools/.github/workflows/update-dependencies.yml@main
    secrets: inherit
