name: Daily update dependencies

on:
  schedule:
  - cron:  '20 00 * * Mon,Thu'
  repository_dispatch:
    types: update-dependencies

jobs:
  update-dependencies:
    name: Update nanoFramework dependencies
    uses: nanoframework/nanodu@v1
    env:
        GITHUB_TOKEN: ${{ github.token }}
    with:
        stablePackages: true